.img {
    max-width: 100%;
}

.card {
    align-items: baseline;
}

a {
    color: #5C8374;
}

.card-subtitle {
    color: #5C8374;
}

strong {
    color: green;
}

.ifa {
    color: white;
}

.img-profile {
    max-width: 50px;
    max-height: 50px;
}
